{% extends 'base-admin.html.twig' %}

{% block title %}Faculty | Admin{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header fw-600">
        Факультети
        <a href="{{ path('admin.faculty.create') }}" class="btn btn-dark btn-sm">Додати Фукультет</a>
    </div>
    <div class="card-body pt-0">
        <table class="table table-hover my-0 mb-1">
            <thead>
            <tr>
                <th class="text-start" colspan="1">№</th>
                <th>Назва</th>
                <th>Код</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in pagination %}
                <tr>
                    <td class="text-start" colspan="1">{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.code }}</td>
                    <td class="text-end">
                        <a href="{{ path('admin.faculty.edit', { id: item.id }) }}" class="btn btn-dark btn-sm">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href="{{ path('admin.faculty.delete', { id: item.id }) }}" class="btn btn-danger btn-sm">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}

