{% extends 'base.html.twig' %}

{% block title %}Groups{% endblock %}

{% block body %}

    <h2 class="page-title mt-4">Групи</h2>

    <div class="accordion mt-4" id="accordionExample">
        {% for group in groups %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        {{ group.code }}
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse p-3" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    {% for student in group.students %}
                        <div class="student-row">
                            {% if student.image is defined and student.image is not empty %}
                                <img width="33" src="{{ vich_uploader_asset(student, 'imageFile') }}" alt="">
                            {% else %}
                                <i style="width: 34px;font-size: 29px;" class="fas fa-user-circle text-center pe-3"></i>
                            {% endif %}
                            <div class="student-row-col">
                                {{ student.firstName }}
                            </div>
                            <div class="student-row-col">
                                {{ student.midName }}
                            </div>
                            <div class="student-row-col">
                                {{ student.lastName }}
                            </div>
                            <div class="student-row-col">
                                {{ student.email }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}