<!DOCTYPE html>
<html lang="ua">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, minimum-scale=0, maximum-scale=1" name="viewport">
        <title>{% block title %}Вітаю!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://kit.fontawesome.com/db798c0306.js" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <body>
        <div class="container">
            {% block body %}

            {% endblock %}

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav justify-content-end d-flex w-100">
                            <li class="nav-item">
                                <a class="nav-link {% if 'faculty' in app.request.get('_route') %}active{% endif %}" aria-current="page" href="{{ path('faculty.index') }}">Факультети</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if 'speciality' in app.request.get('_route') %}active{% endif %}" href="{{ path('speciality.index') }}">Спеціальності</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if 'group' in app.request.get('_route') %}active{% endif %}" href="{{ path('group.index') }}">Групи</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        {% block javascript %}
        {% endblock %}
    </body>
</html>
